
![illu_numpy_blog-125.png]()
#Numpy tutorial (from zero to hero) By Iman Badrooh (Iman.Badrooh@gmail.com)
# linkedin:https://www.linkedin.com/in/iman-badrooh/
# Github: https://github.com/badroohiman/
# Instagram: @Dr.Badrooh
I am Iman Badooh and I am a data scientist. In this notebook, I want to introduce the Numpy library as an essential and really vital library in Machine learning and AI.  
In this tutorial, I try to introduce some of the Numpy useful functions that you may need to use in your data science projects.
I strongly recommend following this tutorial, if you are fresh in data science or intermediate.

# Part one:
In this part, we learn how to install and import Numpy in my project and also check the version of it.
Sometimes, we need to check the version of Numpy for compatibility with other libraries in our project.

In [ ]:
# numpy installation
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

import numpy : we always use np as an alias name for numpy and it is a standard code for all people that use numpy in their code.

In [ ]:
# 1
import numpy as np

In [ ]:
# 2
print(np.__version__)

1.22.4

# help
numpy has an excellent online documnet. you can easyly search each of function of numpy in google and the first answer google ususally is the numpy documnet. forthermore, the useful function in numpy is **help** that you can use to reach documnet of a function in your notebook.

In [ ]:
print(help(np.add))

Help on ufunc:

add = <ufunc 'add'>
    add(x1, x2, /, out=None, *, where=True, casting='same_kind', order='K', dtype=None, subok=True[, signature, extobj])

    Add arguments element-wise.

    Parameters
    ----------
    x1, x2 : array_like
        The arrays to be added.
        If ``x1.shape != x2.shape``, they must be broadcastable to a common
        shape (which becomes the shape of the output).
    out : ndarray, None, or tuple of ndarray and None, optional
        A location into which the result is stored. If provided, it must have
        a shape that the inputs broadcast to. If not provided or None,
        a freshly-allocated array is returned. A tuple (possible only as a
        keyword argument) must have length equal to the number of outputs.
    where : array_like, optional
        This condition is broadcast over the input. At locations where the
        condition is True, the `out` array will be set to the ufunc result.
        Elsewhere, the `out` array will retain its original value.
        Note that if an uninitialized `out` array is created via the default
        ``out=None``, locations within it where the condition is False will
        remain uninitialized.
    **kwargs
        For other keyword-only arguments, see the
        :ref:`ufunc docs <ufuncs.kwargs>`.

    Returns
    -------
    add : ndarray or scalar
        The sum of `x1` and `x2`, element-wise.
        This is a scalar if both `x1` and `x2` are scalars.

    Notes
    -----
    Equivalent to `x1` + `x2` in terms of array broadcasting.

    Examples
    --------
    >>> np.add(1.0, 4.0)
    5.0
    >>> x1 = np.arange(9.0).reshape((3, 3))
    >>> x2 = np.arange(3.0)
    >>> np.add(x1, x2)
    array([[  0.,   2.,   4.],
           [  3.,   5.,   7.],
           [  6.,   8.,  10.]])

    The ``+`` operator can be used as a shorthand for ``np.add`` on ndarrays.

    >>> x1 = np.arange(9.0).reshape((3, 3))
    >>> x2 = np.arange(3.0)
    >>> x1 + x2
    array([[ 0.,  2.,  4.],
           [ 3.,  5.,  7.],
           [ 6.,  8., 10.]])

None

# Part 2: Creating Array
Creating NumPy arrays is important when you’re working with other Python libraries that rely on them, like SciPy, Pandas, Matplotlib, scikit-learn, and more. NumPy is suitable for creating and working with arrays because it offers useful routines, enables performance boosts, and allows you to write concise code
There are a lot of different ways in Numpy to create numpy array.
In this part, we introduce some of these methods that are really useful to create numpy array.

# 3: np.arange:
[np.arange document](https://numpy.org/doc/stable/reference/generated/numpy.arange.html)

NumPy arange() is one of the array creation routines based on numerical ranges. It creates an instance of ndarray with evenly spaced values and returns the reference to it.

In [ ]:
# If we pass just one argument like n  to np.arrange, it creates a numpy ndarray
# from zero to n.
#Create a numpy ndarray from zero to nine [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
ar1 = np.arange(10)
type(ar1)

numpy.ndarray

In [ ]:
ar1

In [ ]:
# In this example we pass to parameters(5, 21)so, np.arange creates
# a numpy ndarray from 5 (first parameter) to 21(second parameter).
# Note: The second parameter is not included in the array.
np.arange(5,21)

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [ ]:
# In this example the first parameter is the start of range(included) and the
# second parameter is the end of range(excluded) and the third parameter
#is the step
np.arange(5,21,5)

array([ 5, 10, 15, 20])

In [ ]:
# Another example that uses floating point as a step.
np.arange(1,2.1,0.1)

array([1. , 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2. ])

#4: Numpy.array()
[numpy.array document](https://numpy.org/doc/stable/reference/generated/numpy.array.html)

The numpy.array() method returns an ndarray. The ndarray is an array object which satisfies the specified requirements.

In [ ]:
# Create a numpy ndarray from a python list.
lst = [2,3,4,6,8,12,24]
ar2 = np.array(lst)

In [ ]:
type(lst)

list

In [ ]:
type(ar2)

numpy.ndarray

In [ ]:
print(ar2)

[ 2  3  4  6  8 12 24]

In [ ]:
print(lst)

[2, 3, 4, 6, 8, 12, 24]

In [ ]:
# Another example: convert two dimention list into a ndarray
lst2 = [[1,2,3],[4,5,6]]

In [ ]:
lst2

[[1, 2, 3], [4, 5, 6]]

In [ ]:
matrix1 = np.array(lst2)

In [ ]:
print(matrix1)

[[1 2 3]
 [4 5 6]]

#5: numpy.zeros
[numpy.zeros document](https://numpy.org/doc/stable/reference/generated/numpy.zeros.html)

Return a new array of given shape and type, filled with zeros.

In [ ]:
np.zeros(4)

array([0., 0., 0., 0.])

In [ ]:
np.zeros((2,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [ ]:
np.zeros((5,3),int)

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [ ]:
np.zeros((3,2,3,4),int)

array([[[[0, 0, 0, 0],
         [0, 0, 0, 0],
         [0, 0, 0, 0]],

        [[0, 0, 0, 0],
         [0, 0, 0, 0],
         [0, 0, 0, 0]]],


       [[[0, 0, 0, 0],
         [0, 0, 0, 0],
         [0, 0, 0, 0]],

        [[0, 0, 0, 0],
         [0, 0, 0, 0],
         [0, 0, 0, 0]]],


       [[[0, 0, 0, 0],
         [0, 0, 0, 0],
         [0, 0, 0, 0]],

        [[0, 0, 0, 0],
         [0, 0, 0, 0],
         [0, 0, 0, 0]]]])

#6: numpy.ones
[numpy.ones document](https://numpy.org/doc/stable/reference/generated/numpy.ones.html)

Return a new array of given shape and type, filled with ones.

In [ ]:
np.ones((4,3),int)

array([[1, 1, 1],
       [1, 1, 1],
       [1, 1, 1],
       [1, 1, 1]])

7: numpy.full
[numpy.full document](https://numpy.org/doc/stable/reference/generated/numpy.full.html)

Return a new array of given shape and type, filled with fill_value.

In [ ]:
np.full((3,4), 1.5)

array([[1.5, 1.5, 1.5, 1.5],
       [1.5, 1.5, 1.5, 1.5],
       [1.5, 1.5, 1.5, 1.5]])

In [ ]:
np.full((4,8), 0.01)

array([[0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01],
       [0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01],
       [0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01],
       [0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01]])

Exercise 1: Create a matrix 3*4 with  value 6.4

In [ ]:
import numpy as np
np.ones((3,4))*6.4

array([[6.4, 6.4, 6.4, 6.4],
       [6.4, 6.4, 6.4, 6.4],
       [6.4, 6.4, 6.4, 6.4]])

## 8: Identity Matrix

In [ ]:
i = np.eye(4)

## 9: numpy.linspace
[numpy.linspace](https://numpy.org/doc/stable/reference/generated/numpy.linspace.html)

Return evenly spaced numbers over a specified interval.
Returns num evenly spaced samples, calculated over the interval [start, stop].
The endpoint of the interval can optionally be excluded.

In [ ]:
# a ndarray with 10 number from 1 to 40 with equal distance.
np.linspace(1,40,10)

array([ 1.        ,  5.33333333,  9.66666667, 14.        , 18.33333333,
       22.66666667, 27.        , 31.33333333, 35.66666667, 40.        ])

# Array datatype conversion
##10:np.ndarray.astype('type')
[np.ndarray.astype](https://numpy.org/doc/stable/reference/generated/numpy.ndarray.astype.html)

Copy of the array, cast to a specified type.

In [ ]:
a = np.array([[2.5, 3.8, 1.5],
              [4.7, 2.9, 1.56]])
o = a.astype('int')
print(o)

[[2 3 1]
 [4 2 1]]

### EXERCISE - Obtaining Boolean Array from Binary Array
Convert a binary numpy array (containing only 0s and 1s) to a boolean numpy array

In [ ]:
a = np.array([[1, 0, 0],
              [1, 1, 1],
              [0, 0, 0]])

o = a.astype('bool')
print(o)

[[ True False False]
 [ True  True  True]
 [False False False]]

# Part 4: Random functions
There are different ways to create random numbers by numpy.
different random numbers with a variety of distributions such as normal and uniform distributions.
In this section, we can explain creating random numbers by different examples.

# normal standard:
The standard normal distribution, also called the z-distribution, is a special normal distribution where the mean is 0 and the standard deviation is 1. Any normal distribution can be standardized by converting its values into z scores.
![image.png]()

#11: np.random.standard_normal
[np.random.standard_normal document](https://numpy.org/doc/stable/reference/random/generated/numpy.random.standard_normal.html)

Draw samples from a standard Normal distribution (mean=0, stdev=1).

In [ ]:
# Create a matrix 3 * 4 that is filled by a standard normal distribution.
np.random.standard_normal(size=(4,3))

array([[ 0.38446905, -0.1195008 , -0.39557288],
       [-0.35892559, -0.39780264, -0.75937263],
       [ 0.90114859,  0.16412051,  0.56999621],
       [-2.51326189, -0.14793202,  0.54052126]])

#12. np.random.normal

[np.random.normal document](https://numpy.org/doc/stable/reference/random/generated/numpy.random.normal.html)

Draw random samples from a normal (Gaussian) distribution.

In [ ]:
# Create random matrix 5 * 3 that is filled with normal distribution
np.random.normal(4,2,(5,3))

array([[7.34987726, 4.69398792, 1.75046372],
       [1.44178468, 5.09500993, 4.70562031],
       [2.23701967, 3.27630812, 0.4265184 ],
       [6.02978647, 3.58146112, 2.29848367],
       [4.52945403, 3.00094999, 4.89848705]])

#13: np.random.uniform
[np.random.uniform document](https://numpy.org/doc/stable/reference/random/generated/numpy.random.uniform.html)

Draw samples from a uniform distribution.

Samples are uniformly distributed over the half-open interval [low, high) (includes low, but excludes high). In other words, any value within the given interval is equally likely to be drawn by uniform.

In [ ]:
np.random.uniform(3,8,(4,6))

array([[6.26388432, 5.89814434, 3.29775794, 6.68765412, 7.25398476,
        7.50213413],
       [4.41415513, 4.08802056, 7.82374164, 4.97483061, 4.77908168,
        6.97004387],
       [6.99436302, 7.48504343, 4.87781887, 6.53829469, 7.66083288,
        6.715272  ],
       [6.95263393, 6.16927061, 6.82057718, 6.19128867, 6.19897813,
        4.012843  ]])

#14: np.random.rand

[np.random.rand document](https://numpy.org/doc/stable/reference/random/generated/numpy.random.rand.html)

Create an array of the given shape and populate it with random samples from a uniform distribution over [0, 1).

In [ ]:
np.random.rand()

0.028868811562403618

In [ ]:
np.random.rand(3)

array([0.8571922 , 0.66384222, 0.3786986 ])

In [ ]:
np.random.rand(4,5)

array([[0.48482988, 0.16224134, 0.99958991, 0.36339673, 0.56242839],
       [0.14280044, 0.60663147, 0.09160874, 0.93200255, 0.97102628],
       [0.63642484, 0.49111575, 0.7291369 , 0.61323839, 0.06439789],
       [0.61237536, 0.48683499, 0.29049893, 0.89710473, 0.75814844]])

#15:numpy.random.randint
[numpy.random.randint document](https://numpy.org/doc/stable/reference/random/generated/numpy.random.randint.html)

Return random integers from low (inclusive) to high (exclusive).

Return random integers from the “discrete uniform” distribution of the specified dtype in the “half-open” interval [low, high). If high is None (the default), then results are from [0, low).

In [ ]:
np.random.randint(10)

5

In [ ]:
np.random.randint(1,10,(3,4))

array([[4, 4, 6, 2],
       [3, 2, 2, 5],
       [1, 5, 8, 5]])

# 16: numpy.random.randn
[numpy.random.randn document](https://numpy.org/doc/stable/reference/random/generated/numpy.random.randn.html)

random.randn(d0, d1, ..., dn)
Return a sample (or samples) from the “standard normal” distribution.

In [ ]:
np.random.randn(5,5)

array([[ 0.33592458, -0.58974666, -0.96866751, -0.56352723,  0.55582386],
       [ 1.46607827, -0.30436702, -0.14482102, -2.02914682, -1.37259047],
       [-0.23094475,  0.80393989,  0.62560032,  3.45313216, -0.10167666],
       [ 2.38670841, -0.51019807,  0.84726001, -1.03908233, -0.41577056],
       [-0.38115896, -1.37323646,  0.24208542,  0.10330874,  2.16892996]])

#17: np.random.seed

[np.random.seed document](https://numpy.org/doc/stable/reference/random/generated/numpy.random.seed.html)

random.seed(seed=None)
Reseed the singleton RandomState instance.

In [ ]:
np.random.seed()

In [ ]:
np.random.seed(20)

In [ ]:
np.random.randint(100)

99

In [ ]:
np.random.randint(100)

90

In [ ]:
np.random.seed(20)

In [ ]:
np.random.randint(100)

In [ ]:
np.random.randint(100)

In [ ]:
np.random.seed(24)
np.random.rand(3,5)

In [ ]:
np.random.seed(24)
np.random.rand(3,5)

array([[0.9600173 , 0.69951205, 0.99986729, 0.2200673 , 0.36105635],
       [0.73984099, 0.99645573, 0.31634698, 0.13654458, 0.38398001],
       [0.32051928, 0.36641475, 0.70965156, 0.90014243, 0.53411544]])

#18: np.hstack

[np.hstack document](https://numpy.org/doc/stable/reference/generated/numpy.hstack.html)

Horizontal Stacking of Numpy Arrays

In [ ]:
a1 = np.array([[1,2,3],
               [4,5,6]])

a2 = np.array([[7,8,9],
               [10,11,12]])
np.hstack((a1, a2))

array([[ 1,  2,  3,  7,  8,  9],
       [ 4,  5,  6, 10, 11, 12]])

#19:np.vstack

[np.vstack document](https://numpy.org/doc/stable/reference/generated/numpy.vstack.html)

- Vertically Stacking of Numpy Arrays

In [ ]:
a1 = np.array([[1,2],[3,4],[5,6]])

a2 = np.array([[7,8],[9,10]])

np.vstack((a1, a2))

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10]])

#20: np.where
[numpy.where document](https://numpy.org/doc/stable/reference/generated/numpy.where.html)

numpy.where(condition, [x, y, ]/)
Return elements chosen from x or y depending on condition.

In [ ]:
a= np.array([1,2,3,4,5])

b = np.array([1,3,2,4,5])

print(np.where(a > b))

(array([2]),)

# 21: np.tile
[np.tile document](https://numpy.org/doc/stable/reference/generated/numpy.tile.html)

numpy.tile(A, reps)
Construct an array by repeating A the number of times given by reps.

In [ ]:
a = np.array([[10,2,30],
              [4,50,6],[1,1,1]])
o = np.tile(a, 5)
print(o)

[[10  2 30 10  2 30 10  2 30 10  2 30 10  2 30]
 [ 4 50  6  4 50  6  4 50  6  4 50  6  4 50  6]
 [ 1  1  1  1  1  1  1  1  1  1  1  1  1  1  1]]

# Math operations in numpy

In [ ]:
np1 = np.array([[1,2],[3,4]])

In [ ]:
np2 = np.array([[5,6],[7,8]])

In [ ]:
np1

array([[1, 2],
       [3, 4]])

In [ ]:
np2

array([[5, 6],
       [7, 8]])

In [ ]:
lst = list([[1,2],[3,4]])
lst

[[1, 2], [3, 4]]

In [ ]:
lst + 5

TypeError: ignored

In [ ]:
np1 + 5

In [ ]:
np1 / 4.8

array([[0.20833333, 0.41666667],
       [0.625     , 0.83333333]])

In [ ]:
np1 * 5

array([[ 5, 10],
       [15, 20]])

In [ ]:
np1 + np2

array([[ 6,  8],
       [10, 12]])

In [ ]:
np2 -  np1

array([[4, 4],
       [4, 4]])

In [ ]:
np1 - np2

array([[-4, -4],
       [-4, -4]])

In [ ]:
np2 - np1

array([[4, 4],
       [4, 4]])

#22: np.subtract
[numpy.subtract](https://numpy.org/doc/stable/reference/generated/numpy.subtract.html)

Subtract arguments, element-wise.

In [ ]:
np.subtract(np1, np2)

array([[-4, -4],
       [-4, -4]])

In [ ]:
np.subtract(np2, np1)

array([[4, 4],
       [4, 4]])

In [ ]:
np1 * 3

array([[ 3,  6],
       [ 9, 12]])

In [ ]:
np1

array([[1, 2],
       [3, 4]])

In [ ]:
np2

array([[5, 6],
       [7, 8]])

In [ ]:
np1 * np2

array([[ 5, 12],
       [21, 32]])

In [ ]:
np1

array([[1, 2],
       [3, 4]])

In [ ]:
np2

array([[5, 6],
       [7, 8]])

In [ ]:
np1 / 4

array([[0.25, 0.5 ],
       [0.75, 1.  ]])

In [ ]:
np1 / np2

array([[0.2       , 0.33333333],
       [0.42857143, 0.5       ]])

In [ ]:
np1

array([[1, 2],
       [3, 4]])

In [ ]:
np2

array([[5, 6],
       [7, 8]])

In [ ]:
np3 = np.array([[2,0],[5,7]])

In [ ]:
np3

array([[2, 0],
       [5, 7]])

In [ ]:
np1 / np3

<ipython-input-78-3fc235fbd4f0>:1: RuntimeWarning: divide by zero encountered in true_divide
  np1 / np3

array([[0.5       ,        inf],
       [0.6       , 0.57142857]])

In [ ]:
np1 / 0

<ipython-input-79-5a8b48bcd4ca>:1: RuntimeWarning: divide by zero encountered in true_divide
  np1 / 0

array([[inf, inf],
       [inf, inf]])

In [ ]:
1 / 0

ZeroDivisionError: ignored

## matrix multiplication

In [ ]:
A = np.array([[1,2,3],[4,5,6]])
B = np.array([[2,4,6,8],[8,10,12,14],[10,12,14,16]])

#22: np.shape

[numpy.shape](https://numpy.org/doc/stable/reference/generated/numpy.shape.html)

numpy.shape(a)

Return the shape of an array.

In [ ]:
A.shape

(2, 3)

In [ ]:
B.shape

(3, 4)

#23: @

In [ ]:
A @ B + 3

array([[ 51,  63,  75,  87],
       [111, 141, 171, 201]])

#24: np.dot

[np.dot document](https://numpy.org/doc/stable/reference/generated/numpy.dot.html)

numpy.dot
numpy.dot(a, b, out=None)
Dot product of two arrays.

In [ ]:
np.dot(A,B) + 3

array([[ 51,  63,  75,  87],
       [111, 141, 171, 201]])

In [ ]:
A.dot(B) + 3

array([[ 51,  63,  75,  87],
       [111, 141, 171, 201]])

In [ ]:
A

array([[1, 2, 3],
       [4, 5, 6]])

#25: np.sum

[np.sum document](https://numpy.org/doc/stable/reference/generated/numpy.sum.html)

Sum of array elements over a given axis.

In [ ]:
np.sum(A,axis = 1 )

array([ 6, 15])

In [ ]:
A.sum()

21

In [ ]:
A.sum(axis= 0 )

array([5, 7, 9])

In [ ]:
A.sum(axis= 1 )

array([ 6, 15])

In [ ]:
A / 3

array([[0.33333333, 0.66666667, 1.        ],
       [1.33333333, 1.66666667, 2.        ]])

#26: np.floor_divide
[np.floor_divide document](https://numpy.org/doc/stable/reference/generated/numpy.floor_divide.html)

Return the largest integer smaller or equal to the division of the inputs. It is equivalent to the Python // operator and pairs with the Python % (remainder), function so that a = a % b + b * (a // b) up to roundoff.

In [ ]:
np.floor_divide(A, 3)

array([[0, 0, 1],
       [1, 1, 2]])

In [ ]:
np.floor_divide(A,3)

array([[0, 0, 1],
       [1, 1, 2]])

#27: np.sqrt

[np.sqrt](https://numpy.org/doc/stable/reference/generated/numpy.sqrt.html)

Return the non-negative square-root of an array, element-wise.

In [ ]:
np.math.sqrt(12)

3.4641016151377544

In [ ]:
np.sqrt(A)

array([[1.        , 1.41421356, 1.73205081],
       [2.        , 2.23606798, 2.44948974]])

#28: np.sin

[np.sin document](https://numpy.org/doc/stable/reference/generated/numpy.sin.html)

Trigonometric sine, element-wise.

In [ ]:
angles = np.array([3.14, 3.14/2, 6.28])

sine_of_angles = np.sin(angles)

print('Sine of the given array of angles = ', sine_of_angles)

Sine of the given array of angles =  [ 0.00159265  0.99999968 -0.0031853 ]

#29: np.cos

[np.cos document](https://numpy.org/doc/stable/reference/generated/numpy.cos.html)

Cosine element-wise.

In [ ]:
angles = np.array([3.14, 3.14/2, 6.28])

cosine_of_angles = np.cos(angles)

print('Cosine of the given array of angles = ', cosine_of_angles)

Cosine of the given array of angles =  [-9.99998732e-01  7.96326711e-04  9.99994927e-01]

#30: np.argsort
[np.argsort document](https://numpy.org/doc/stable/reference/generated/numpy.argsort.html)

Returns the indices that would sort an array.

In [ ]:
array = np.array([10,1,5,2])
indexes = np.argsort(array)
print(indexes)

[1 3 2 0]

#31: np.mean

[np.mean document](https://numpy.org/doc/stable/reference/generated/numpy.mean.html)

Compute the arithmetic mean along the specified axis.

Returns the average of the array elements. The average is taken over the flattened array by default, otherwise over the specified axis. float64 intermediate and return values are used for integer inputs.

In [ ]:
ar

array([[13, 96, 34,  2],
       [61, 56, 71, 98],
       [82,  7, 47, 66],
       [48, 90, 75, 36],
       [65, 28, 98, 34]])

In [ ]:
np.mean(ar)

55.35

In [ ]:
ar.mean()

55.35

#32: np.median

[np.median document](https://numpy.org/doc/stable/reference/generated/numpy.median.html)

Compute the median along the specified axis.

Returns the median of the array elements.

In [ ]:
np.median(ar, axis= 0 )

array([61., 56., 71., 36.])

In [ ]:
np.median(ar, axis= 1 )

array([23.5, 66. , 56.5, 61.5, 49.5])

#33: mode in Numpy

In [ ]:
# mod is not implement in numpy
ar.mode()

AttributeError: ignored

In [ ]:
ar.mod(axis = 0 )

AttributeError: ignored

In [ ]:
from scipy import stats
x = stats.mode(ar)

<ipython-input-110-6996455f1c41>:2: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  x = stats.mode(ar)

In [ ]:
x

ModeResult(mode=array([[13,  7, 34,  2]]), count=array([[1, 1, 1, 1]]))

#34: np.var
[np.var document](https://numpy.org/doc/stable/reference/generated/numpy.var.html)

Compute the variance along the specified axis.

Returns the variance of the array elements, a measure of the spread of a distribution. The variance is computed for the flattened array by default, otherwise over the specified axis.

In [ ]:
ar.var()

860.3275

In [ ]:
ar.var(axis=1)

array([1322.1875,  263.25  ,  784.25  ,  456.1875,  778.1875])

#35: np.std

[np.std document](https://numpy.org/doc/stable/reference/generated/numpy.std.html)

Compute the standard deviation along the specified axis.

Returns the standard deviation, a measure of the spread of a distribution, of the array elements. The standard deviation is computed for the flattened array by default, otherwise over the specified axis.

In [ ]:
np.std(ar)

29.331339894386005

In [ ]:
ar

array([[13, 96, 34,  2],
       [61, 56, 71, 98],
       [82,  7, 47, 66],
       [48, 90, 75, 36],
       [65, 28, 98, 34]])

#36: np.max

In [ ]:
ar.max()

98

#37: np.min

In [ ]:
ar.min()

2

#38: np.argmax

In [ ]:
ar.argmax()

7

In [ ]:
ar

array([[13, 96, 34,  2],
       [61, 56, 71, 98],
       [82,  7, 47, 66],
       [48, 90, 75, 36],
       [65, 28, 98, 34]])

#39: np.argmin

In [ ]:
ar.argmin()

3

#40: np.reshape

[np.reshape document](https://numpy.org/doc/stable/reference/generated/numpy.reshape.html)

Gives a new shape to an array without changing its data.

In [ ]:
ar2.reshape(10,-1)

array([[ 1.        ,  2.68965517,  4.37931034],
       [ 6.06896552,  7.75862069,  9.44827586],
       [11.13793103, 12.82758621, 14.51724138],
       [16.20689655, 17.89655172, 19.5862069 ],
       [21.27586207, 22.96551724, 24.65517241],
       [26.34482759, 28.03448276, 29.72413793],
       [31.4137931 , 33.10344828, 34.79310345],
       [36.48275862, 38.17241379, 39.86206897],
       [41.55172414, 43.24137931, 44.93103448],
       [46.62068966, 48.31034483, 50.        ]])

In [ ]:
df = ar2.reshape(5,6)
df

array([[ 1.        ,  2.68965517,  4.37931034,  6.06896552,  7.75862069,
         9.44827586],
       [11.13793103, 12.82758621, 14.51724138, 16.20689655, 17.89655172,
        19.5862069 ],
       [21.27586207, 22.96551724, 24.65517241, 26.34482759, 28.03448276,
        29.72413793],
       [31.4137931 , 33.10344828, 34.79310345, 36.48275862, 38.17241379,
        39.86206897],
       [41.55172414, 43.24137931, 44.93103448, 46.62068966, 48.31034483,
        50.        ]])

In [ ]:
df.shape

(5, 6)

In [ ]:
ar2.shape

(30,)

In [ ]:
df2 = ar2.reshape(30,1)

In [ ]:
df.shape

(5, 6)

In [ ]:
ar2.reshape(5,3,-1)

array([[[ 1.        ,  2.68965517],
        [ 4.37931034,  6.06896552],
        [ 7.75862069,  9.44827586]],

       [[11.13793103, 12.82758621],
        [14.51724138, 16.20689655],
        [17.89655172, 19.5862069 ]],

       [[21.27586207, 22.96551724],
        [24.65517241, 26.34482759],
        [28.03448276, 29.72413793]],

       [[31.4137931 , 33.10344828],
        [34.79310345, 36.48275862],
        [38.17241379, 39.86206897]],

       [[41.55172414, 43.24137931],
        [44.93103448, 46.62068966],
        [48.31034483, 50.        ]]])

In [ ]:
ar2.reshape(2,3,5)

array([[[ 1.        ,  2.68965517,  4.37931034,  6.06896552,
          7.75862069],
        [ 9.44827586, 11.13793103, 12.82758621, 14.51724138,
         16.20689655],
        [17.89655172, 19.5862069 , 21.27586207, 22.96551724,
         24.65517241]],

       [[26.34482759, 28.03448276, 29.72413793, 31.4137931 ,
         33.10344828],
        [34.79310345, 36.48275862, 38.17241379, 39.86206897,
         41.55172414],
        [43.24137931, 44.93103448, 46.62068966, 48.31034483,
         50.        ]]])

In [ ]:
ar2.reshape(-1, 1)

array([[ 1.        ],
       [ 2.68965517],
       [ 4.37931034],
       [ 6.06896552],
       [ 7.75862069],
       [ 9.44827586],
       [11.13793103],
       [12.82758621],
       [14.51724138],
       [16.20689655],
       [17.89655172],
       [19.5862069 ],
       [21.27586207],
       [22.96551724],
       [24.65517241],
       [26.34482759],
       [28.03448276],
       [29.72413793],
       [31.4137931 ],
       [33.10344828],
       [34.79310345],
       [36.48275862],
       [38.17241379],
       [39.86206897],
       [41.55172414],
       [43.24137931],
       [44.93103448],
       [46.62068966],
       [48.31034483],
       [50.        ]])

In [ ]:
ar2.reshape(2,3,-1)

array([[[ 1.        ,  2.68965517,  4.37931034,  6.06896552,
          7.75862069],
        [ 9.44827586, 11.13793103, 12.82758621, 14.51724138,
         16.20689655],
        [17.89655172, 19.5862069 , 21.27586207, 22.96551724,
         24.65517241]],

       [[26.34482759, 28.03448276, 29.72413793, 31.4137931 ,
         33.10344828],
        [34.79310345, 36.48275862, 38.17241379, 39.86206897,
         41.55172414],
        [43.24137931, 44.93103448, 46.62068966, 48.31034483,
         50.        ]]])

In [ ]:
ar2.reshape(7,-1)

ValueError: ignored

#** Slicing in numpy**

In [ ]:
ar = np.random.randint(1,100,(20,5))

In [ ]:
ar

array([[ 4,  5, 66, 11, 42],
       [57, 46,  8,  6, 61],
       [84, 43,  1, 28, 22],
       [67, 37, 55, 46, 97],
       [87, 35, 76, 95, 86],
       [40, 69, 64, 68, 72],
       [ 9, 68, 71, 24, 43],
       [75, 76, 81, 28, 66],
       [ 7, 33, 91, 99, 97],
       [25, 87, 45, 76, 63],
       [96, 13, 22, 43, 77],
       [36, 37, 39, 53, 53],
       [44, 51, 46, 33, 24],
       [39, 93, 44, 81, 14],
       [67, 90, 41, 38, 43],
       [13, 22, 21, 16, 23],
       [29, 21, 42,  9, 60],
       [40, 10, 98, 21, 85],
       [99, 28, 82,  7, 11],
       [58,  2, 53, 80, 68]])

In [ ]:
ar[0:5,:]

array([[ 4,  5, 66, 11, 42],
       [57, 46,  8,  6, 61],
       [84, 43,  1, 28, 22],
       [67, 37, 55, 46, 97],
       [87, 35, 76, 95, 86]])

In [ ]:
ar[:, 0:3]

array([[ 4,  5, 66],
       [57, 46,  8],
       [84, 43,  1],
       [67, 37, 55],
       [87, 35, 76],
       [40, 69, 64],
       [ 9, 68, 71],
       [75, 76, 81],
       [ 7, 33, 91],
       [25, 87, 45],
       [96, 13, 22],
       [36, 37, 39],
       [44, 51, 46],
       [39, 93, 44],
       [67, 90, 41],
       [13, 22, 21],
       [29, 21, 42],
       [40, 10, 98],
       [99, 28, 82],
       [58,  2, 53]])

In [ ]:
ar[2:5,1:3]

array([[43,  1],
       [37, 55],
       [35, 76]])

In [ ]:
B = ar[2:5,1:3]

In [ ]:
ar

array([[ 4,  5, 66, 11, 42],
       [57, 46,  8,  6, 61],
       [84, 43,  1, 28, 22],
       [67, 37, 55, 46, 97],
       [87, 35, 76, 95, 86],
       [40, 69, 64, 68, 72],
       [ 9, 68, 71, 24, 43],
       [75, 76, 81, 28, 66],
       [ 7, 33, 91, 99, 97],
       [25, 87, 45, 76, 63],
       [96, 13, 22, 43, 77],
       [36, 37, 39, 53, 53],
       [44, 51, 46, 33, 24],
       [39, 93, 44, 81, 14],
       [67, 90, 41, 38, 43],
       [13, 22, 21, 16, 23],
       [29, 21, 42,  9, 60],
       [40, 10, 98, 21, 85],
       [99, 28, 82,  7, 11],
       [58,  2, 53, 80, 68]])

In [ ]:
B

array([[43,  1],
       [37, 55],
       [35, 76]])

In [ ]:
B[:] = 1000

In [ ]:
B

array([[1000, 1000],
       [1000, 1000],
       [1000, 1000]])

In [ ]:
ar

array([[   4,    5,   66,   11,   42],
       [  57,   46,    8,    6,   61],
       [  84, 1000, 1000,   28,   22],
       [  67, 1000, 1000,   46,   97],
       [  87, 1000, 1000,   95,   86],
       [  40,   69,   64,   68,   72],
       [   9,   68,   71,   24,   43],
       [  75,   76,   81,   28,   66],
       [   7,   33,   91,   99,   97],
       [  25,   87,   45,   76,   63],
       [  96,   13,   22,   43,   77],
       [  36,   37,   39,   53,   53],
       [  44,   51,   46,   33,   24],
       [  39,   93,   44,   81,   14],
       [  67,   90,   41,   38,   43],
       [  13,   22,   21,   16,   23],
       [  29,   21,   42,    9,   60],
       [  40,   10,   98,   21,   85],
       [  99,   28,   82,    7,   11],
       [  58,    2,   53,   80,   68]])

#41: np.copy
[np.copy document](https://numpy.org/doc/stable/reference/generated/numpy.copy.html)
Return an array copy of the given object.

In [ ]:
B = ar.copy()
B

array([[   4,    5,   66,   11,   42],
       [  57,   46,    8,    6,   61],
       [  84, 1000, 1000,   28,   22],
       [  67, 1000, 1000,   46,   97],
       [  87, 1000, 1000,   95,   86],
       [  40,   69,   64,   68,   72],
       [   9,   68,   71,   24,   43],
       [  75,   76,   81,   28,   66],
       [   7,   33,   91,   99,   97],
       [  25,   87,   45,   76,   63],
       [  96,   13,   22,   43,   77],
       [  36,   37,   39,   53,   53],
       [  44,   51,   46,   33,   24],
       [  39,   93,   44,   81,   14],
       [  67,   90,   41,   38,   43],
       [  13,   22,   21,   16,   23],
       [  29,   21,   42,    9,   60],
       [  40,   10,   98,   21,   85],
       [  99,   28,   82,    7,   11],
       [  58,    2,   53,   80,   68]])

In [ ]:
ar

array([[   4,    5,   66,   11,   42],
       [  57,   46,    8,    6,   61],
       [  84, 1000, 1000,   28,   22],
       [  67, 1000, 1000,   46,   97],
       [  87, 1000, 1000,   95,   86],
       [  40,   69,   64,   68,   72],
       [   9,   68,   71,   24,   43],
       [  75,   76,   81,   28,   66],
       [   7,   33,   91,   99,   97],
       [  25,   87,   45,   76,   63],
       [  96,   13,   22,   43,   77],
       [  36,   37,   39,   53,   53],
       [  44,   51,   46,   33,   24],
       [  39,   93,   44,   81,   14],
       [  67,   90,   41,   38,   43],
       [  13,   22,   21,   16,   23],
       [  29,   21,   42,    9,   60],
       [  40,   10,   98,   21,   85],
       [  99,   28,   82,    7,   11],
       [  58,    2,   53,   80,   68]])

In [ ]:
B[:] = 2589

In [ ]:
ar

array([[   4,    5,   66,   11,   42],
       [  57,   46,    8,    6,   61],
       [  84, 1000, 1000,   28,   22],
       [  67, 1000, 1000,   46,   97],
       [  87, 1000, 1000,   95,   86],
       [  40,   69,   64,   68,   72],
       [   9,   68,   71,   24,   43],
       [  75,   76,   81,   28,   66],
       [   7,   33,   91,   99,   97],
       [  25,   87,   45,   76,   63],
       [  96,   13,   22,   43,   77],
       [  36,   37,   39,   53,   53],
       [  44,   51,   46,   33,   24],
       [  39,   93,   44,   81,   14],
       [  67,   90,   41,   38,   43],
       [  13,   22,   21,   16,   23],
       [  29,   21,   42,    9,   60],
       [  40,   10,   98,   21,   85],
       [  99,   28,   82,    7,   11],
       [  58,    2,   53,   80,   68]])

In [ ]:
B

array([[2589, 2589, 2589, 2589, 2589],
       [2589, 2589, 2589, 2589, 2589],
       [2589, 2589, 2589, 2589, 2589],
       [2589, 2589, 2589, 2589, 2589],
       [2589, 2589, 2589, 2589, 2589],
       [2589, 2589, 2589, 2589, 2589],
       [2589, 2589, 2589, 2589, 2589],
       [2589, 2589, 2589, 2589, 2589],
       [2589, 2589, 2589, 2589, 2589],
       [2589, 2589, 2589, 2589, 2589],
       [2589, 2589, 2589, 2589, 2589],
       [2589, 2589, 2589, 2589, 2589],
       [2589, 2589, 2589, 2589, 2589],
       [2589, 2589, 2589, 2589, 2589],
       [2589, 2589, 2589, 2589, 2589],
       [2589, 2589, 2589, 2589, 2589],
       [2589, 2589, 2589, 2589, 2589],
       [2589, 2589, 2589, 2589, 2589],
       [2589, 2589, 2589, 2589, 2589],
       [2589, 2589, 2589, 2589, 2589]])

# **logical indexing in numpy **

In [ ]:
ar

array([[   4,    5,   66,   11,   42],
       [  57,   46,    8,    6,   61],
       [  84, 1000, 1000,   28,   22],
       [  67, 1000, 1000,   46,   97],
       [  87, 1000, 1000,   95,   86],
       [  40,   69,   64,   68,   72],
       [   9,   68,   71,   24,   43],
       [  75,   76,   81,   28,   66],
       [   7,   33,   91,   99,   97],
       [  25,   87,   45,   76,   63],
       [  96,   13,   22,   43,   77],
       [  36,   37,   39,   53,   53],
       [  44,   51,   46,   33,   24],
       [  39,   93,   44,   81,   14],
       [  67,   90,   41,   38,   43],
       [  13,   22,   21,   16,   23],
       [  29,   21,   42,    9,   60],
       [  40,   10,   98,   21,   85],
       [  99,   28,   82,    7,   11],
       [  58,    2,   53,   80,   68]])

In [ ]:
ar>40

array([[False, False,  True, False,  True],
       [ True,  True, False, False,  True],
       [ True,  True,  True, False, False],
       [ True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True],
       [False,  True,  True,  True,  True],
       [False,  True,  True, False,  True],
       [ True,  True,  True, False,  True],
       [False, False,  True,  True,  True],
       [False,  True,  True,  True,  True],
       [ True, False, False,  True,  True],
       [False, False, False,  True,  True],
       [ True,  True,  True, False, False],
       [False,  True,  True,  True, False],
       [ True,  True,  True, False,  True],
       [False, False, False, False, False],
       [False, False,  True, False,  True],
       [False, False,  True, False,  True],
       [ True, False,  True, False, False],
       [ True, False,  True,  True,  True]])

In [ ]:
ar[ar>40]

array([  66,   42,   57,   46,   61,   84, 1000, 1000,   67, 1000, 1000,
         46,   97,   87, 1000, 1000,   95,   86,   69,   64,   68,   72,
         68,   71,   43,   75,   76,   81,   66,   91,   99,   97,   87,
         45,   76,   63,   96,   43,   77,   53,   53,   44,   51,   46,
         93,   44,   81,   67,   90,   41,   43,   42,   60,   98,   85,
         99,   82,   58,   53,   80,   68])

In [ ]:
ar[ar > 900]

array([1000, 1000, 1000, 1000, 1000, 1000])

In [ ]:
ar[(ar > 20) and (ar< 50)]

ValueError: ignored

In [ ]:
ar[(ar > 20) & (ar < 50)]

array([42, 46, 28, 22, 46, 40, 24, 43, 28, 33, 25, 45, 22, 43, 36, 37, 39,
       44, 46, 33, 24, 39, 44, 41, 38, 43, 22, 21, 23, 29, 21, 42, 40, 21,
       28])

#42: np.logical_and
[np.logical_and document](https://numpy.org/doc/stable/reference/generated/numpy.logical_and.html)

Compute the truth value of x1 AND x2 element-wise.

In [ ]:
ar[np.logical_and(ar > 30 , ar < 75)]

array([66, 42, 57, 46, 61, 67, 46, 40, 69, 64, 68, 72, 68, 71, 43, 66, 33,
       45, 63, 43, 36, 37, 39, 53, 53, 44, 51, 46, 33, 39, 44, 67, 41, 38,
       43, 42, 60, 40, 58, 53, 68])

#43: np.all
[np.all document](https://numpy.org/doc/stable/reference/generated/numpy.all.html)

Test whether all array elements along a given axis evaluate to True.

In [ ]:
x = np.array([1, 2, 3, 4])
print(np.all(x))
x = np.array([0, 1, 2, 3])
print(np.all(x))

Original array:
[1 2 3 4]
Test if none of the elements of the said array is zero:
True
Original array:
[0 1 2 3]
Test if none of the elements of the said array is zero:
False

#44: np.any
[np.any document](https://numpy.org/doc/stable/reference/generated/numpy.any.html)

Test whether any array element along a given axis evaluates to True.
Returns single boolean if axis is None

In [ ]:
x = np.array([1, 0, 0, 0])
print(np.any(x))
x = np.array([0, 0, 0, 0])
print(np.any(x))

Original array:
[1 0 0 0]
Test whether any of the elements of a given array is non-zero:
True
Original array:
[0 0 0 0]
Test whether any of the elements of a given array is non-zero:
False

#45: np.isfinite

[np.isfinite document](https://numpy.org/doc/stable/reference/generated/numpy.isfinite.html)

Test element-wise for finiteness (not infinity and not Not a Number).

The result is returned as a boolean array.

In [ ]:
a = np.array([1, 0, np.nan, np.inf])
print(a)
print(np.isfinite(a))

Original array
[ 1.  0. nan inf]
Test a given array element-wise for finiteness :
[ True  True False False]

#46: np.isnan

[np.isnan document](https://numpy.org/doc/stable/reference/generated/numpy.isnan.html)

Test element-wise for NaN and return result as a boolean array.

In [ ]:
a = np.array([1, 0, np.nan, np.inf])
print(np.isnan(a))

Original array
[ 1.  0. nan inf]
Test element-wise for NaN:
[False False  True False]

#47: np.iscomplex
#48: np.isreal
#49:np.isscalar
[np.iscomplex document](https://numpy.org/doc/stable/reference/generated/numpy.iscomplex.html)

Returns a bool array, where True if input element is complex.

What is tested is whether the input has a non-zero imaginary part, not if the input type is complex.

In [ ]:
a = np.array([1+1j, 1+0j, 4.5, 3, 2, 2j])
print(a)
print(np.iscomplex(a))
print("Checking for real number:")
print(np.isreal(a))
print("Checking for scalar type:")
print(np.isscalar(3.1))
print(np.isscalar([3.1]))

Original array
[1. +1.j 1. +0.j 4.5+0.j 3. +0.j 2. +0.j 0. +2.j]
Checking for complex number:
[ True False False False False  True]
Checking for real number:
[False  True  True  True  True False]
Checking for scalar type:
True
False

#50: np.isclose

[np.isclose](https://numpy.org/doc/stable/reference/generated/numpy.isclose.html)

Returns a boolean array where two arrays are element-wise equal within a tolerance.

The tolerance values are positive, typically very small numbers. The relative difference (rtol * abs(b)) and the absolute difference atol are added together to compare against the absolute difference between a and b.

In [ ]:
print(np.allclose([1e10,1e-7], [1.00001e10,1e-8]))
print(np.allclose([1e10,1e-8], [1.00001e10,1e-9]))
print(np.allclose([1e10,1e-8], [1.0001e10,1e-9]))
print(np.allclose([1.0, np.nan], [1.0, np.nan]))
print(np.allclose([1.0, np.nan], [1.0, np.nan], equal_nan=True))

Test if two arrays are element-wise equal within a tolerance:
False
True
False
False
True

##51: np.greater
##52:np.greater_equal
##53 np.less
##54:np.less_equal

In [ ]:
x = np.array([3, 5])
y = np.array([2, 5])
print(np.greater(x, y))
print(np.greater_equal(x, y))
print(np.less(x, y))
print(np.less_equal(x, y))

Original numbers:
[3 5]
[2 5]
Comparison - greater
[ True False]
Comparison - greater_equal
[ True  True]
Comparison - less
[False False]
Comparison - less_equal
[False  True]

#55:np.size
#56:np.itemsize

In [ ]:
X = np.array([1, 7, 13, 105])
print("%d bytes" % (X.size * X.itemsize))

Original array:
[  1   7  13 105]
Size of the memory occupied by the said array:
32 bytes

#57: np.nditer
[np.nditer document](https://numpy.org/doc/stable/reference/generated/numpy.nditer.html)

Efficient multi-dimensional iterator object to iterate over arrays. To get started using this object, see the introductory guide to array iteration.

** Example:**
NumPy: Create a 3X4 array using and iterate over it

In [ ]:
a = np.arange(10,22).reshape((3, 4))
print(a)
for x in np.nditer(a):
  print(x,end=" ")

Original array:
[[10 11 12 13]
 [14 15 16 17]
 [18 19 20 21]]
Each element of the array is:
10 11 12 13 14 15 16 17 18 19 20 21

#58: np.sort
[np.sort document](https://numpy.org/doc/stable/reference/generated/numpy.sort.html)

Return a sorted copy of an array.

In [ ]:
import numpy as np
nums = np.array([[5.54, 3.38, 7.99],
              [3.54, 4.38, 6.99],
              [1.54, 2.39, 9.29]])
print("Original array:")
print(nums)
print("\nSort the said array by row in ascending order:")
print(np.sort(nums))
print("\nSort the said array by column in ascending order:")
print(np.sort(nums, axis=0))

Original array:
[[5.54 3.38 7.99]
 [3.54 4.38 6.99]
 [1.54 2.39 9.29]]

Sort the said array by row in ascending order:
[[3.38 5.54 7.99]
 [3.54 4.38 6.99]
 [1.54 2.39 9.29]]

Sort the said array by column in ascending order:
[[1.54 2.39 6.99]
 [3.54 3.38 7.99]
 [5.54 4.38 9.29]]

#59: np.append
[np.append document](https://numpy.org/doc/stable/reference/generated/numpy.append.html)

Append values to the end of an array.

In [ ]:
x = [[10, 20, 30]
     ,[40,50,60],
      [70,80,90]]
print(x)
x = np.append(x, [[40, 50, 60], [70, 80, 90]])
print("After append values to the end of the array:")
print(x)

Original array:
[10, 20, 30]
After append values to the end of the array:
[10 20 30 40 50 60 70 80 90]

#60: Vectorize function
[np.Vectorize document ](https://numpy.org/doc/stable/reference/generated/numpy.vectorize.html)

Returns an object that acts like pyfunc, but takes arrays as input.

Define a vectorized function which takes a nested sequence of objects or numpy arrays as inputs and returns a single numpy array or a tuple of numpy arrays. The vectorized function evaluates pyfunc over successive tuples of the input arrays like the python map function, except it uses the broadcasting rules of numpy.

The data type of the output of vectorized is determined by calling the function with the first element of the input. This can be avoided by specifying the otypes argument.

In [ ]:
def myfunc(a, b):
    "Return a-b if a>b, otherwise return a+b"
    if a > b:
        return a - b
    else:
        return a + b

In [ ]:
vfunc = np.vectorize(myfunc)
vfunc([1, 2, 3, 4], 2)

array([3, 4, 1, 2])

In [ ]:
import numpy as np
Sum=0
def add(a,b):
  Sum=a+b
  return sum
Vecfunc=np.vectorize(add,otypes=[int])
arr1=np.arange(1,20,4)
arr2=np.arange(1,10,2)
print("Array arr1: ",arr1)
print("Array arr2: ",arr2)
print("Sum of arr1 and arr2: ",Vecfunc(arr1,arr2))

#61: np.in1d

[nd.in1d document](https://numpy.org/doc/stable/reference/generated/numpy.in1d.html)

Test whether each element of a 1-D array is also present in a second array.

Returns a boolean array the same length as ar1 that is True where an element of ar1 is in ar2 and False otherwise.

In [ ]:
import numpy as np
array1 = np.array([0, 10, 20, 40, 60])
print("Array1: ",array1)
array2 = [0, 40]
print("Array2: ",array2)
print("Compare each element of array1 and array2")
print(np.in1d(array1, array2))

Array1:  [ 0 10 20 40 60]
Array2:  [0, 40]
Compare each element of array1 and array2
[ True False False  True False]

#62:np.intersect1d
[np.intersect1d document](https://numpy.org/doc/stable/reference/generated/numpy.intersect1d.html)

numpy.intersect1d(ar1, ar2, assume_unique=False, return_indices=False)[source]
Find the intersection of two arrays.

Return the sorted, unique values that are in both of the input arrays.

In [ ]:
import numpy as np
array1 = np.array([0, 10, 20, 40, 60])
print("Array1: ",array1)
array2 = [10, 30, 40]
print("Array2: ",array2)
print("Common values between two arrays:")
print(np.intersect1d(array1, array2))

Array1:  [ 0 10 20 40 60]
Array2:  [10, 30, 40]
Common values between two arrays:
[10 40]

#63: np.unique
[np.unique document](https://numpy.org/doc/stable/reference/generated/numpy.unique.html)

Find the unique elements of an array.

Returns the sorted unique elements of an array. There are three optional outputs in addition to the unique elements:

the indices of the input array that give the unique values

the indices of the unique array that reconstruct the input array

the number of times each unique value comes up in the input array

In [ ]:
import numpy as np
x = np.array([10, 10, 20, 20, 30, 30])
print("Original array:")
print(x)
print("Unique elements of the above array:")
print(np.unique(x))
x = np.array([[1, 1], [2, 3]])
print("Original array:")
print(x)
print("Unique elements of the above array:")
print(np.unique(x))

Original array:
[10 10 20 20 30 30]
Unique elements of the above array:
[10 20 30]
Original array:
[[1 1]
 [2 3]]
Unique elements of the above array:
[1 2 3]

#64: np.setdiff1d
[np.setdiff1d document](https://numpy.org/doc/stable/reference/generated/numpy.setdiff1d.html)

Find the set difference of two arrays.

Return the unique values in ar1 that are not in ar2.

In [ ]:
import numpy as np
array1 = np.array([0, 10, 20, 40, 60, 80])
print("Array1: ",array1)
array2 = [10, 30, 40, 50, 70]
print("Array2: ",array2)
print("Unique values in array1 that are not in array2:")
print(np.setdiff1d(array1, array2))

Array1:  [ 0 10 20 40 60 80]
Array2:  [10, 30, 40, 50, 70]
Unique values in array1 that are not in array2:
[ 0 20 60 80]

#65: np.setxor1d
[np.setxor1d](https://numpy.org/doc/stable/reference/generated/numpy.setxor1d.html)

Find the set exclusive-or of two arrays.

Return the sorted, unique values that are in only one (not both) of the input arrays.

In [ ]:
import numpy as np
array1 = np.array([0, 10, 20, 40, 60, 80])
print("Array1: ",array1)
array2 = [10, 30, 40, 50, 70]
print("Array2: ",array2)
print("Unique values that are in only one (not both) of the input arrays:")
print(np.setxor1d(array1, array2))

Array1:  [ 0 10 20 40 60 80]
Array2:  [10, 30, 40, 50, 70]
Unique values that are in only one (not both) of the input arrays:
[ 0 20 30 50 60 70 80]

#66: np.union1d
[np.union1d document](https://numpy.org/doc/stable/reference/generated/numpy.union1d.html)

Find the union of two arrays.

Return the unique, sorted array of values that are in either of the two input arrays.

In [ ]:
import numpy as np
array1 = np.array([0, 10, 20, 40, 60, 80])
print("Array1: ",array1)
array2 = [10, 30, 40, 50, 70]
print("Array2: ",array2)
print("Unique sorted array of values that are in either of the two input arrays:")
print(np.union1d(array1, array2))

Array1:  [ 0 10 20 40 60 80]
Array2:  [10, 30, 40, 50, 70]
Unique sorted array of values that are in either of the two input arrays:
[ 0 10 20 30 40 50 60 70 80]

#67: np.repeat

[np.repeat document](https://numpy.org/doc/stable/reference/generated/numpy.repeat.html)

Repeat each element of an array after themselves

In [ ]:
import numpy as np
x = np.repeat(3, 4)
print(x)
x = np.array([[1,2],[3,4]])
print(np.repeat(x, 3))
print(np.tile(x,3))

[3 3 3 3]
[1 1 1 2 2 2 3 3 3 4 4 4]
[[1 2 1 2 1 2]
 [3 4 3 4 3 4]]

68: np.ravel
[np.ravel document](https://numpy.org/doc/stable/reference/generated/numpy.ravel.html)

Return a contiguous flattened array.

A 1-D array, containing the elements of the input, is returned. A copy is made only if needed.

As of NumPy 1.10, the returned array will have the same type as the input array. (for example, a masked array will be returned for a masked array input)

In [ ]:
x = np.array([[10, 20, 30], [20, 40, 50]])
print("Original array:")
print(x)
y = np.ravel(x)
print("New flattened array:")
print(y)

Original array:
[[10 20 30]
 [20 40 50]]
New flattened array:
[10 20 30 20 40 50]

In [ ]:
x = np.eye(3)
print("3-D array:")
print(x)
f = np.ravel(x, order='F')
print("One dimension array:")
print(f)

3-D array:
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]
One dimension array:
[1. 0. 0. 0. 1. 0. 0. 0. 1.]

#69: np.diagflat

[np.diagflat](https://numpy.org/doc/stable/reference/generated/numpy.diagflat.html)

Create a two-dimensional array with the flattened input as a diagonal.

In [ ]:
import numpy as np
x =  np.diagflat([4, 5, 6, 8])
print(x)

[[4 0 0 0]
 [0 5 0 0]
 [0 0 6 0]
 [0 0 0 8]]

#70: np.swapaxes
[np.swapaxes document](https://numpy.org/doc/stable/reference/generated/numpy.swapaxes.html)

Interchange two axes of an array.

In [ ]:
import numpy as np
x = np.array([[1,2,3]])
print(x)
y =  np.swapaxes(x,0,1)
print(y)

[[1 2 3]]
[[1]
 [2]
 [3]]

#71: np.hsplit
[np.hsplit document](https://numpy.org/doc/stable/reference/generated/numpy.hsplit.html)

Split an array into multiple sub-arrays horizontally (column-wise).

In [ ]:
import numpy as np
x = np.arange(16).reshape((4, 4))
print("Original array:",x)
print("After splitting horizontally:")
print(np.hsplit(x, [2, 6]))

Original array: [[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]
After splitting horizontally:
[array([[ 0,  1],
       [ 4,  5],
       [ 8,  9],
       [12, 13]]), array([[ 2,  3],
       [ 6,  7],
       [10, 11],
       [14, 15]]), array([], shape=(4, 0), dtype=int64)]

#72: np.count_nonzero
[np.count_nonzero](https://numpy.org/doc/stable/reference/generated/numpy.count_nonzero.html)

Counts the number of non-zero values in the array a.

In [ ]:
import numpy as np
x = np.array([[0, 10, 20], [20, 30, 40]])
print("Original array:")
print(x)
print("Number of non zero elements in the above array:")
print(np.count_nonzero(x))

Original array:
[[ 0 10 20]
 [20 30 40]]
Number of non zero elements in the above array:
5

#73: np.diff
[np.diff document](https://numpy.org/doc/stable/reference/generated/numpy.diff.html)

numpy.diff(a, n=1, axis=-1, prepend=<no value>, append=<no value>)[source]
Calculate the n-th discrete difference along the given axis.

The first difference is given by out[i] = a[i+1] - a[i] along the given axis, higher differences are calculated by using diff recursively.

In [ ]:
import numpy as np
x = np.array([1, 3, 5, 7, 0])
print("Original array: ")
print(x)
print("Difference between neighboring elements, element-wise of the said array.")
print(np.diff(x))

Original array:
[1 3 5 7 0]
Difference between neighboring elements, element-wise of the said array.
[ 2  2  2 -7]

#74: np.rint
[np.rint document](https://numpy.org/doc/stable/reference/generated/numpy.rint.html)

Round elements of the array to the nearest integer.

In [ ]:
import numpy as np
x = np.array([-.7, -1.5, -1.7, 0.3, 1.5, 1.8, 2.0])
print("Original array:")
print(x)
x = np.rint(x)
print("Round elements of the array to the nearest integer:")
print(x)

Original array:
[-0.7 -1.5 -1.7  0.3  1.5  1.8  2. ]
Round elements of the array to the nearest integer:
[-1. -2. -2.  0.  2.  2.  2.]

#75: np.outer

[np.outer document](https://numpy.org/doc/stable/reference/generated/numpy.outer.html)

Compute the outer product of two vectors.

In [ ]:
import numpy as np
p = [[1, 0], [0, 1]]
q = [[1, 2], [3, 4]]
print("original matrix:")
print(p)
print(q)
result = np.outer(p, q)
print("Outer product of the said two vectors:")
print(result)

original matrix:
[[1, 0], [0, 1]]
[[1, 2], [3, 4]]
Outer product of the said two vectors:
[[1 2 3 4]
 [0 0 0 0]
 [0 0 0 0]
 [1 2 3 4]]

#76: np.cross
[np.cross document](https://numpy.org/doc/stable/reference/generated/numpy.cross.html)

Return the cross product of two (arrays of) vectors.

The cross product of a and b in
 is a vector perpendicular to both a and b. If a and b are arrays of vectors, the vectors are defined by the last axis of a and b by default, and these axes can have dimensions 2 or 3. Where the dimension of either a or b is 2, the third component of the input vector is assumed to be zero and the cross product calculated accordingly. In cases where both input vectors have dimension 2, the z-component of the cross product is returned.

In [ ]:
import numpy as np
p = [[1, 0], [0, 1]]
q = [[1, 2], [3, 4]]
print("original matrix:")
print(p)
print(q)
result1 = np.cross(p, q)
result2 = np.cross(q, p)
print("cross product of the said two vectors(p, q):")
print(result1)
print("cross product of the said two vectors(q, p):")
print(result2)

original matrix:
[[1, 0], [0, 1]]
[[1, 2], [3, 4]]
cross product of the said two vectors(p, q):
[ 2 -3]
cross product of the said two vectors(q, p):
[-2  3]

#77: np.linalg.det
[np.linalg.det](https://numpy.org/doc/stable/reference/generated/numpy.cross.html)

Compute the determinant of an array.

In [ ]:
import numpy as np
from numpy import linalg as LA
a = np.array([[1, 0], [1, 2]])
print("Original 2-d array")
print(a)
print("Determinant of the said 2-D array:")
print(np.linalg.det(a))

Original 2-d array
[[1 0]
 [1 2]]
Determinant of the said 2-D array:
2.0

#77: np.trace

[np.trace document](https://numpy.org/doc/stable/reference/generated/numpy.trace.html)

Return the sum along diagonals of the array.

In [ ]:
import numpy as np
m = np.arange(6).reshape(2,3)
print("Original matrix:")
print(m)
result =  np.trace(m)
print("Condition number of the said matrix:")
print(result)

Original matrix:
[[0 1 2]
 [3 4 5]]
Condition number of the said matrix:
4

#78: np.partition
[np.partition document](https://numpy.org/doc/stable/reference/generated/numpy.partition.html)


Return a partitioned copy of an array.

Creates a copy of the array with its elements rearranged in such a way that the value of the element in k-th position is in the position the value would be in a sorted array. In the partitioned array, all elements before the k-th element are less than or equal to that element, and all the elements after the k-th element are greater than or equal to that element. The ordering of the elements in the two partitions is undefined.

In [ ]:
import numpy as np
nums = np.array([70, 50, 20, 30, -11, 60, 50, 40])
print("Original array:")
print(nums)
print("\nAfter partitioning on 4 the position:")
print(np.partition(nums, 3))

Original array:
[ 70  50  20  30 -11  60  50  40]

After partitioning on 4 the position:
[-11  30  20  40  50  60  50  70]

# 79: np.absolute
[np.absolute document](https://numpy.org/doc/stable/reference/random/generated/numpy.random.standard_normal.html)

Calculate the absolute value element-wise.

In [ ]:
import numpy as np
x = np.array([-10.2, 122.2, .20])
print("Original array:")
print(x)
print("Element-wise absolute value:")
print(np.absolute(x))

Original array:
[-10.2 122.2   0.2]
Element-wise absolute value:
[ 10.2 122.2   0.2]

# Exercise No.1:
### NumPy: Create a vector with values ​​from 0 to 20 and change the sign of the numbers in the range from 9 to 15

In [ ]:
import numpy as np
x = np.arange(21)
print("Original vector:")
print(x)
print("After changing the sign of the numbers in the range from 9 to 15:")
x[(x >= 9) & (x <= 15)] *= -1
print(x)

Original vector:
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
After changing the sign of the numbers in the range from 9 to 15:
[  0   1   2   3   4   5   6   7   8  -9 -10 -11 -12 -13 -14 -15  16  17
  18  19  20]

# Exercise No2:
# NumPy: Create a 3x4 matrix filled with values ​​from 10 to 21

In [ ]:
import numpy as np
m= np.arange(10,22).reshape((3, 4))
print(m)

[[10 11 12 13]
 [14 15 16 17]
 [18 19 20 21]]

#Exercise No3:
NumPy: Find the number of rows and columns of a given matrix

In [ ]:
import numpy as np
m= np.arange(10,22).reshape((3, 4))
print("Original matrix:")
print(m)
print("Number of rows and columns of the said matrix:")
print(m.shape)

Original matrix:
[[10 11 12 13]
 [14 15 16 17]
 [18 19 20 21]]
Number of rows and columns of the said matrix:
(3, 4)

#Exercise No4:
NumPy: Create a 10x10 matrix, in which the elements on the borders will be equal to 1, and inside 0

In [ ]:
import numpy as np
x = np.ones((10, 10))
print(x)
print()
x[1:-1, 1:-1] = 0
print(x)

[[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]

[[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]

#Exercise No5:
NumPy: Swap rows and columns of a given array in reverse order

In [ ]:
import numpy as np
nums = np.array([[[1, 2, 3, 4],
               [0, 1, 3, 4],
               [90, 91, 93, 94],
               [5, 0, 3, 2]]])
print("Original array:")
print(nums)
print("\nSwap rows and columns of the said array in reverse order:")
new_nums = print(nums[::-1, ::-1])
print(new_nums)

Original array:
[[[ 1  2  3  4]
  [ 0  1  3  4]
  [90 91 93 94]
  [ 5  0  3  2]]]

Swap rows and columns of the said array in reverse order:
[[[ 5  0  3  2]
  [90 91 93 94]
  [ 0  1  3  4]
  [ 1  2  3  4]]]
None

#Exercise No6:
NumPy: Create a new array from a given array, swapping first and last, second and third columns

In [ ]:
import numpy as np
nums = np.arange(16, dtype='int').reshape(-1, 4)
print("Original array:")
print(nums)
print("\nNew array after swapping first and last columns of the said array:")
new_nums = nums[:, ::-1]
print(new_nums)

Original array:
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]

New array after swapping first and last columns of the said array:
[[ 3  2  1  0]
 [ 7  6  5  4]
 [11 10  9  8]
 [15 14 13 12]]

#Exercise No7:
NumPy: Replace all numbers in a given array which is equal, less and greater to a given number

In [ ]:
import numpy as np
nums = np.array([[5.54, 3.38, 7.99],
              [3.54, 8.32, 6.99],
              [1.54, 2.39, 9.29]])
print("Original array:")
print(nums)
n = 8.32
r = 18.32
print("\nReplace elements of the said array which are equal to ",n,"with",r)
print(np.where(nums == n, r, nums))
print("\nReplace elements with of the said array which are less than",n,"with",r)
print(np.where(nums < n, r, nums))
print("\nReplace elements with of the said array which are greater than",n,"with",r)
print(np.where(nums > n, r, nums))

Original array:
[[5.54 3.38 7.99]
 [3.54 8.32 6.99]
 [1.54 2.39 9.29]]

Replace elements of the said array which are equal to  8.32 with 18.32
[[ 5.54  3.38  7.99]
 [ 3.54 18.32  6.99]
 [ 1.54  2.39  9.29]]

Replace elements with of the said array which are less than 8.32 with 18.32
[[18.32 18.32 18.32]
 [18.32  8.32 18.32]
 [18.32 18.32  9.29]]

Replace elements with of the said array which are greater than 8.32 with 18.32
[[ 5.54  3.38  7.99]
 [ 3.54  8.32  6.99]
 [ 1.54  2.39 18.32]]

#Exercise No8:

NumPy: Create a 8x8 matrix and fill it with a checkerboard pattern

In [ ]:
import numpy as np
x = np.ones((3,3))
print("Checkerboard pattern:")
x = np.zeros((8,8),dtype=int)
x[1::2,::2] = 1
print(x)
print()
x[::2,1::2] = 1
print(x)

Checkerboard pattern:
[[0 0 0 0 0 0 0 0]
 [1 0 1 0 1 0 1 0]
 [0 0 0 0 0 0 0 0]
 [1 0 1 0 1 0 1 0]
 [0 0 0 0 0 0 0 0]
 [1 0 1 0 1 0 1 0]
 [0 0 0 0 0 0 0 0]
 [1 0 1 0 1 0 1 0]]

[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]

#Exercise No9:

NumPy: Test whether any array element along a given axis evaluates to True

In [ ]:
import numpy as np
print(np.any([[False,False],[False,False]]))
print(np.any([[True,True],[True,True]]))
print(np.any([10, 20, 0, -50]))
print(np.any([10, 20, -50]))

False
True
True
True

#Exercise No10:

NumPy: Construct an array by repeating

In [ ]:
import numpy as np
a = [1, 2, 3, 4]
print("Original array")
print(a)
print("Repeating 2 times")
x = np.tile(a, 2)
print(x)
print("Repeating 3 times")
x = np.tile(a, 6)
print(x)

Original array
[1, 2, 3, 4]
Repeating 2 times
[1 2 3 4 1 2 3 4]
Repeating 3 times
[1 2 3 4 1 2 3 4 1 2 3 4 1 2 3 4 1 2 3 4 1 2 3 4]

#Exercise No11:

NumPy: Find the indices of the maximum and minimum values along the given axis of an array

In [ ]:
import numpy as np
x = np.array([1, 2, 3, 4, 5, 6])
print("Original array: ",x)
print("Maximum Values: ",np.argmax(x))
print("Minimum Values: ",np.argmin(x))

Original array:  [1 2 3 4 5 6]
Maximum Values:  5
Minimum Values:  0

#Exercise No12:
NumPy: Compute the multiplication of two given matrixes

In [ ]:
import numpy as np
p = [[1, 0], [0, 1]]
q = [[1, 2], [3, 4]]
print("original matrix:")
print(p)
print(q)
result1 = np.dot(p, q)
print("Result of the said matrix multiplication:")
print(result1)

original matrix:
[[1, 0], [0, 1]]
[[1, 2], [3, 4]]
Result of the said matrix multiplication:
[[1 2]
 [3 4]]

#Exercise No13:
Write a NumPy program to sort a given array of shape 2 along the first axis, last axis and on flattened array.

In [ ]:
import numpy as np
a = np.array([[10,40],[30,20]])
print("Original array:")
print(a)
print("Sort the array along the first axis:")
print(np.sort(a, axis=0))
print("Sort the array along the last axis:")
print(np.sort(a))
print("Sort the flattened array:")
print(np.sort(a, axis=None))

Original array:
[[10 40]
 [30 20]]
Sort the array along the first axis:
[[10 20]
 [30 40]]
Sort the array along the last axis:
[[10 40]
 [20 30]]
Sort the flattened array:
[10 20 30 40]

#Exercise No14:

Write a NumPy program to create a structured array from given student name, height, class and their data types. Now sort the array on height.

In [ ]:
import numpy as np
data_type = [('name', 'S15'), ('class', int), ('height', float)]
students_details = [('James', 5, 48.5), ('Nail', 6, 52.5),('Paul', 5, 42.10), ('Pit', 5, 40.11)]
# create a structured array
students = np.array(students_details, dtype=data_type)
print("Original array:")
print(students)
print("Sort by height")
print(np.sort(students, order='height'))

Original array:
[(b'James', 5, 48.5 ) (b'Nail', 6, 52.5 ) (b'Paul', 5, 42.1 )
 (b'Pit', 5, 40.11)]
Sort by height
[(b'Pit', 5, 40.11) (b'Paul', 5, 42.1 ) (b'James', 5, 48.5 )
 (b'Nail', 6, 52.5 )]

#Exercise No15:
Write a NumPy program to get the indices of the sorted elements of a given array.

In [ ]:
import numpy as np
student_id = np.array([1023, 5202, 6230, 1671, 1682, 5241, 4532])
print("Original array:")
print(student_id)
i = np.argsort(student_id)
print("Indices of the sorted elements of a given array:")
print(i)

Original array:
[1023 5202 6230 1671 1682 5241 4532]
Indices of the sorted elements of a given array:
[0 3 4 6 1 5 2]

#Exercise No16:
NumPy: Compute the mean, standard deviation, and variance of a given array along the second axis

In [ ]:
import numpy as np
x = np.arange(6)
print("\nOriginal array:")
print(x)
r1 = np.mean(x)
r2 = np.average(x)
assert np.allclose(r1, r2)
print("\nMean: ", r1)
r1 = np.std(x)
r2 = np.sqrt(np.mean((x - np.mean(x)) ** 2 ))
assert np.allclose(r1, r2)
print("\nstd: ", 1)
r1= np.var(x)
r2 = np.mean((x - np.mean(x)) ** 2 )
assert np.allclose(r1, r2)
print("\nvariance: ", r1)

Original array:
[0 1 2 3 4 5]

Mean:  2.5

std:  1

variance:  2.9166666666666665